.details-wrapper {
  width: 100%;
  position: relative;
}
.details-bg {
  width: 100%;
  height: 100vh;
  background-image: url("https://wallpapers.com/images/hd/full-screen-spotify-logo-tu31awwyymxc13nw.jpg");
  filter: brightness(60%);
  background-size: cover;
}

.song-details {
  color: aliceblue;
  position: absolute;
  top: 5%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img {
  height: 200px;
  border-radius: 30px;
  margin-right: 15px;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.6);
}

.info .text {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.info .text span {
  padding: 5px 10px;
  font-size: 1rem;
  color: rgb(124, 124, 124);
  font-weight: 700;
  margin-bottom: 15px;
}
.btn button {
  cursor: pointer;
  color: white;
  margin: 5px;
  padding: 7px;
  outline: 0;
  border: 0;
  border: 1px solid rgb(183, 0, 255);
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease-in-out;
}

.btn button:hover {
  background-color: orange;
  border-radius: 20px;
  color: rgb(124, 0, 0);
}
.btn button:nth-child(2):hover {
  background-color: rgb(115, 115, 244);
  color: white;
}
